{% extends 'base.html' %}
{% block customcss %}./static/booking.css{% endblock customcss %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 right-sidebar">

            <div class="mb-3 fields">
                <label for="exampleFormControlInput1" class="form-label">City:</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select_city"
                    onchange="set_area();" name="city">
                    <option value="none">--Select--</option>
                </select>
            </div>
            <div class="mb-3 fields">
                <label for="exampleFormControlInput1" class="form-label">Area:</label>
                <select class="form-select form-select-sm area_input" aria-label=".form-select-sm example"
                    id="select_area" name="area">
                    <option value="none">--Select--</option>
                </select>
            </div>
            <div class="mb-3 fields">
                <label for="exampleFormControlInput1" class="form-label">Sports:</label>
                <select class="form-select form-select-sm area_input" aria-label=".form-select-sm example"
                    id="select_sport" name="set_sport">
                    <option value="none">--Select--</option>
                </select>
            </div>

            <button class="btn btn-sm btn-primary" id="filter" onclick="filter_data()">Search</button>

        </div>
        <div class="col-1"></div>
        <div class="col-8" id="display-list">

        </div>
    </div>
</div>
{% endblock body %}


{% block script %}
'./static/booking.js'
{% endblock script %}



{% comment %} city -> area -> sports -> sport_complex -> timing {% endcomment %}