{% extends 'base.html' %}
{% block customcss %}../static/ground_detail.css{% endblock customcss %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 bg-danger">
            <img src="{{ground_detail.ground_image}}" alt="" width="100%">
            <h1>{{ground_detail.ground_name}}</h1>
                <input type="date" name="date" id="date">
                <button onclick="custom_slots()">Search</button>
            <div id="slots">
                <div class="slot">
                    <input type="checkbox" name="time" id="time" value="time">
                    <label for="time">Time</label>
                </div>
            </div>
            <button type="submit">submit</button>


        </div>
    </div>
</div>

<script>
    let hostname = "{{hostname}}";
    let port = "{{port}}";
    let from_time = "{{ground_detail.from_time}}";
    let to_time = "{{ground_detail.to_time}}";
    let pk = "{{ground_detail.ground_id}}";

    

</script>

<script src="../static/ground_detail.js"></script>


{% endblock body %}