{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block customcss %}"./static/home.css"{% endblock customcss %}
{% block customcss2 %}"./static/sign.css"{% endblock customcss2 %}
{% block body %}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">




   
   <div class="wrapper">
      <header>
         <nav>
            <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <a href="/">
            <div class="logo">
               BookMyGround
            </div>
           </a>
            <div class="menu">
               <ul>
                  {% if request.user.is_anonymous %}
                  <li>
                     <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                     data-bs-target="#signupmodal">
                        Sign Up
                     </button>
                     
                  </li>
                 
                  {% else %}
                  <li>
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Welcome {{request.user}}
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="/profile">Profile</a>
                       <a class="dropdown-item" href="/history">History</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="logout">Log Out</a>
                     </div>
                   </li>
   
                  {% endif %}
               </ul>
            </div>
         </nav>
         
   
      </header>
   </div>

   <!-- Modal -->
   <div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
         <div class="modal-body"> 
   
         <div class="bodyh">
            <div class="form-structor">
               
               <div class="signup">
                  
                  <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
               
                  <form action="/sign-up" method="post">
                  {% csrf_token %}
                  <div class="form-holder">
                     <input type="text" class="input" placeholder="Username" name = "username"/>
                     <input type="text" class="input" placeholder="First Name" name = "first_name" />
                     <input type="text" class="input" placeholder="Last Name"  name = "last_name"/>
                     <input type="email" class="input" placeholder="Email" name = "email" />
                     <input type="password" class="input" placeholder="Password" name = "password" />
                     <input type="password" class="input" placeholder="Confirm Password" name = "confirm_password" /> 
                  </div>
                  <button  type= "submit" class="submit-btn" >Sign up</button>
               </form> 
               </div>
               <div class="login slide-up">
                  <div class="center">
                     <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                     <form action="/login" method="post">
                        {% csrf_token %}
                     <div class="form-holder">
                        
                        <input type="text" class="input" placeholder="Username" name="username" />
                        <input type="password" class="input" placeholder="Password" name="password" />
                     </div>
                     <button  type="submit"  class="submit-btn">Log in</button>
                  </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div> 
   </div>
   
   <div class="cover">
   
   
      <!-- <div class="text">
      <button class="blocation">location</button>
      </div> -->
      <img class="mainimg" src="..\static\home\cover.jpg">

   
      
   </div>

   {% if messages %}
   {% for message in messages %}
   <div id = "message_container">
   <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
   </div>
   
   {% endfor %}
 {% endif %}
   <!-- <button>location</button> -->
   <div class="middle">Choose A Sport</div>
   {% if request.user.is_anonymous %}
   <div class="sportsimgs">
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/football (1).png" alt=""> </a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/badminton.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/Cricket.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/Swimming.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/tabletennis.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/basket ball.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/lawn tennis.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/hockey.png" alt=""></a> 
      <a data-bs-toggle="modal" data-bs-target="#signupmodal"> <img class="sports_imgs" src="/static/home/squash.png" alt=""></a> 
   </div>

   {% else %}

   <div class="sportsimgs">
      <a href="/booking?city=none&area=none&sport=none" id="citychoice"> <img class="sports_imgs" src="/static/home/football (1).png" alt=""> </a> 
      <a href="/booking?city=none&area=none&sport=Badminton"> <img class="sports_imgs" src="/static/home/badminton.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=Cricket"> <img class="sports_imgs" src="/static/home/Cricket.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=none"> <img class="sports_imgs" src="/static/home/Swimming.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=none"> <img class="sports_imgs" src="/static/home/tabletennis.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=Basket+Ball"> <img class="sports_imgs" src="/static/home/basket ball.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=none"> <img class="sports_imgs" src="/static/home/lawn tennis.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=none"> <img class="sports_imgs" src="/static/home/hockey.png" alt=""></a> 
      <a href="/booking?city=none&area=none&sport=none"> <img class="sports_imgs" src="/static/home/squash.png" alt=""></a> 
   </div>

   {% endif %}
   </div>


{% endblock body %}]

{% block script %}
'./static/home.js'
{% endblock script %}
{% block script2 %} './static/sign.js' {% endblock script2 %}