{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block customcss %}"./static/my-dashboard.css"{% endblock customcss %}

{% block body %}

<div class="container">
    <div class="row justify-content-evenly align-items-center">
        <a class="box col-4 text-center p-0" href="">
            <div class="top d-flex justify-content-evenly align-items-center">See no. of Bookings</div>
            <div class="bottom d-flex justify-content-evenly align-items-center"><p>5</p></div>
        </a>
        <a class="box col-4 text-center p-0" href="">
            <div class="top align-items-center d-flex justify-content-evenly align-items-center">Register your Ground</div>
            <div class="bottom align-items-center d-flex justify-content-evenly align-items-center"><p>3</p></div>
        </a>
    </div>
</div>


{% endblock body %}