.container{
    /* margin-top: 50px; */
    /* border: 2px solid black; */
    height: 50vh;
}
.row{
    height: 50vh;
}

.ground-container{
    height: 65vh;
}

.top{
    background-color: #000000;
    height: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom{
    background-color: #000000a8;
    height: 120px;
    font-size: 35px;
}



.box{
    color: white;
    text-decoration: none;
}

.box:hover{
    color: white;
}

